<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.unit1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Unit1">
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".SixSecondActivity"
            android:exported="false" />
        <activity
            android:name=".EightTask"
            android:exported="false" />
        <activity
            android:name=".SeventhTask"
            android:exported="false" />
        <activity
            android:name=".Sixthtask"
            android:exported="false" />
        <activity
            android:name=".FifthTask"
            android:exported="false" />
        <activity
            android:name=".FourthTask"
            android:exported="false" />
        <activity
            android:name=".ThirdTask"
            android:exported="false" />
        <activity
            android:name=".SecondTask"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".MainOne"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>